<h2>Add a New Website</h2>

<%= form_tag websites_path, :method => 'post' do %>

  <p><label>server:</label> <input name="server" size="30"></p>
  <p><label>rank:</label> <input name="rank" size="30"></p>
  <p><button>Submit</button></p>

<% end%>