
<div class="col-xs-6">

<% @user.followees.each do |followee| %>

	<%= followee.username %>
	<br>
	<a href="">follow me</a>
	<br>

<% end %>
	
</div>

<div class="col-cs-6">

<% @user.followers.each do |follower| %>

	<%= follower.username %>
	<br>
	<a href="">I follow</a>
	<br>

<% end %> 
	
</div>
